NETWORK_ID=base-sepolia
USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e
PAYMENT_RECIPIENT_ADDRESS=
INR_PER_USDC=84
FACILITATOR_URL=https://api.cdp.coinbase.com/platform/v2/x402
CDP_API_KEY_ID=
CDP_API_KEY_SECRET=
SEEDHAPE_WEBHOOK_URL=
SEEDHAPE_WEBHOOK_SECRET=
